:root {
  --color-rose-dark: #7a284e;
  --color-rose-light: #fff7fb;
  --color-stone-dark: #312e2c;
  --color-stone-mid: #5f564d;
  --color-stone-midlight: #e3ddd7;
  --color-stone-light: #f3e5d7;
  --color-brown: #854632;
  --color-white: #ffffff;
}
